@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(140, 103, 200);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #c67474;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links{
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #de2716;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 1;
  padding: 10px;
  margin-left: 40%;
  border-radius: 8px;
  cursor: pointer;
}

/* blog preview list*/
.blog-pre{
padding: 10px 16px;
margin: 20px 0;
border-bottom: 1px solid #c1cd1b;
}
.blog-pre:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-pre h2{
font-size: 30px;
color:rgb(124, 104, 93);
margin-bottom: 8px;
}
.blog-pre h3{
  font-size: 25px;
  color: #c67474;
  margin-top: 2%;
}
.blog-pre p{
  margin-top: 2%;
}
.blog-pre button{
  margin-top: 3%;
}
.blog-pre a {
  text-decoration: none;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}